<nav id="formulario">
    <p id="creando">Creando estudiantes</p>
    <form action="" method="post" class="grid">
        <div class="contenedor">
            <p id="texto">Nombre:</p>
            <input class="entrada" id="registro"type="text" placeholder="Nombre" name="nombre" required="true">
        </div>
        <div class="contenedor">
            <p id="texto">Apellido:</p>
            <input class="entrada" id="registro"type="text" placeholder="Apellido" name="apellido" required="true">
        </div>
        <div class="contenedor">
            <p id="texto">Documento:</p>
            <input class="entrada" type="text" placeholder="Documento" name="documento" required="true" >
        </div>
        <div class="contenedor">
            <p id="texto">Semestre:</p> 
            <input class="entrada" id="semestre"type="number" placeholder="Semestre" name="semestre" required="true" min="1" max="10">
        </div>
        <div class="contenedor">
            <p id="texto">Carrera:</p>
            <input type="text" id="semestre" required="true" placeholder="Carrera" name="carrera">
        </div>
        <div class="contenedor">
            <p id="texto">Fecha de <br>nacimiento:</p>
            <input class="entrada" id="registro" required="true" type="date" name="Nacimiento">
        </div>
        <input class="boton" type="submit" placeholder="Crear" value="Crear">
        <a href="/estudiantes" class="boton2">volver</a>
    </form>
</nav>