<nav id="formulario">
    <p id="creando">Creando asignaturas</p>
    {{#each asignaturas}}
    <form action="" method="post" class="grid">
        <div class="contenedor">
            <p id="texto">Nombre:</p>
            <input class="entrada" value="{{nombre}}" id="registro"type="text" placeholder="Nombre" name="nombre" required="true">
        </div>
        <div class="contenedor">
            <p id="texto">Codigo:</p>
            <input class="entrada" value="{{codigo}}" id="registro"type="text" placeholder="Codigo" name="codigo" required="true">
        </div>
        <div class="contenedor">
            <p id="texto">Creditos:</p>
            <input class="entrada" value="{{creditos}}" type="text" placeholder="Creditos" name="creditos" required="true" >
        </div>
        <div class="contenedor">
            <p id="texto">Hora inicio:</p>
            <input type="time" value="{{inicio}}" required="true" id="semestre" required="true" placeholder="Horario" name="inicio">
        </div>
        <div class="contenedor">
            <p id="texto">Hora fin:</p>
            <input type="time" value="{{fin}}" required="true" id="semestre" required="true" placeholder="Horario" name="fin">
        </div>
        <input class="boton" type="submit" placeholder="Crear" value="Crear">
        <a href="/asignaturas" class="boton2">volver</a>
    </form>
    {{/each}}
</nav>