<div class="ver">
    <p class="texto">Asignaturas</p>
      <table class="infoTabla">
        <thead class="infohead">
          <tr>
            <th id="uno">Nombre</th>
            <th id="dos">Codigo</th>
            <th id="tres">Creditos</th>
            <th id="cuatro">Hora inicio</th>
            <th id="cinco">Hora fin</th>
            <th id="acciones" colspan="2">acciones</th>
          </tr>
        </thead>
        <tbody class="infoBody">
          {{#each asignaturas}}
          <tr>
            <td id="tabla1">{{nombre}}</td>
            <td id="tabla2">{{codigo}}</td>
            <td id="tabla3">{{creditos}}</td>
            <td id="tabla4">{{inicio}}</td>
            <td id="tabla5">{{fin}}</td>
            <td id="botonTabla">
              <a href="/asignaturas/editar/{{codigo}}" class="editar"> &#9997; Editar</a>
            </td>
            <td id="botonTabla">
              <form action="/asignaturas/eliminar" method="post">
                <input type="hidden"  value="{{codigo}}" name="codigo">
                <button type="submit" class="borrar">&#10060; Borrar</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <a href="/asignaturas"class="boton2">Volver</a>
</div>