<nav id="formulario">
    <p id="creando">Creando instituciones</p>
    <form action="" method="post" class="grid">
        <div class="contenedor">
            <p id="texto">Nombre:</p>
            <input class="entrada" id="registro"type="text" placeholder="Nombre" name="nombre" required="true">
        </div>
        <div class="contenedor">
            <p id="texto">Direccion:</p>
            <input class="entrada" id="registro"type="text" placeholder="Apellido" name="direccion" required="true">
        </div>
        <div class="contenedor">
            <p id="texto">Identificador:</p>
            <input class="entrada" type="text" placeholder="Documento" name="id" required="true" >
        </div>
        <div class="contenedor">
            <p id="texto">Profesor:</p> 
            <input class="entrada" id="semestre"type="number" placeholder="Semestre" name="id_profesor" required="true" min="1" max="10">
        </div>
        <input class="boton" type="submit" placeholder="Crear" value="Crear">
        <a href="/instituciones" class="boton2">volver</a>
    </form>
</nav>