<div class= "editarUsuarios">
    <p class="tabla"> Usuarios</p>
    <a href="/usuarios" class ="redirec">Ver crud</a>
</div>
<div class= "editarUsuarios">
    <p class="tabla"> Estudiantes</p>
    <a href="/estudiantes" class ="redirec">Ver crud</a>
</div>
<div class= "editarUsuarios">
    <p class="tabla"> profesores</p>
    <a href="/profesores" class ="redirec">Ver crud</a>
</div>
<div class= "editarUsuarios">
    <p class="tabla"> Asignaturas</p>
    <a href="/asignaturas" class ="redirec">Ver crud</a>
</div>
<div class= "editarUsuarios">
    <p class="tabla"> Instituciones</p>
    <a href="/instituciones" class ="redirec">Ver crud</a>
</div>
<div class= "fin">
    <p class="tabla"> Estudiar</p>
    <a href="/estudiar" class ="redirec">Ver crud</a>
</div>