<nav id="formulario">
    <p id="creando">Creando estudios</p>
    <form action="" method="post" class="grid">
        <div class="contenedor">
            <p id="texto">Asignatura:</p>
            <input class="entrada" id="registro"type="text" placeholder="Asignatura" name="asignatura" required="true">
        </div>
        <div class="contenedor">
            <p id="texto">Estudiante:</p>
            <input class="entrada" id="registro"type="text" placeholder="Estudiante" name="estudiante" required="true">
        </div>
        <input class="boton" type="submit" placeholder="Crear" value="Crear">
        <a href="/estudiar" class="boton2">volver</a>
    </form>
</nav>