<nav id="formulario">
    <p id="creando">Creando usuario</p>
    <form action="" method="post" class="grid">
        <div class="contenedor">
            <p id="texto">Nombre:</p>
            <input id="registro" type="text" name="usuario" required="true">
        </div>
        <div class="contenedor">
            <p id="texto">Contraseña</p>
            <input id="registro" type="password" name="contraseña" required="true">
        </div>
            <input type="submit" placeholder="Crear" class="boton">
            <a href="/usuarios" class="boton2">Volver</a>
    </form>
</nav>